*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: url(../img/57e4ca636e5d7f286b03497d05f5eed4f67c.jpeg);
    height:100vh;
    background-size: cover;
    background-position: center ;

}

ul{
    float: right;
    list-style-type: none;
    margin: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding:5px 20px;
    border: 1px solid #fff;
    font-size:50px;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.logo img{
    float: left;
    width: 200px;
    height:150px;
    padding:20px;
}